<div class="div-1">
    <div class="left-menu"></div>
    <div class="screen-title"></div>
    <div class="dot-menu"></div>
</div>
<div class="div-2">
    <div class="menu-bar"></div>
</div>
<div class="div3">
    <div class="search-bar"></div>
</div>
<div class="location-tablets">
	<div class="tablet-1"></div>
	<div class="tablet-2"></div>
	<div class="tablet-3"></div>
	<div class="tablet-4"></div>
</div>
<div class="map"></div>
<h4>Results</h4>
<div class="event-cards">
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
	<div class="card"></div>
</div>