<div class="banner">
	<div class="profile-icon"></div>
	<div class="user-info">
		<div class="name"></div>
		<div class="city"></div>
	</div>
</div>
<div class="menu">
	<div class="list-item">
		<div class="icon"></div>
		<div class="list-item-text"></div>
	</div>
	<div class="list-item">
		<div class="icon"></div>
		<div class="list-item-text"></div>
	</div>
	<div class="list-item">
		<div class="icon"></div>
		<div class="list-item-text"></div>
	</div>
	<div class="list-item">
		<div class="icon"></div>
		<div class="list-item-text"></div>
	</div>
</div>
<div class="footer">
	<div class="facebook-icon"></div>
	<div class="ig-icon"></div>
	<div class="twitter-icon"></div>
</div>